.wrapper-header-home {
  background: #1b3764;
}

.home-header-container, .articles-header-container, .author-header-container, .companies-header-container {
  max-width: 1300px;
  margin: auto auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
.home-header-container .div_links, .articles-header-container .div_links, .author-header-container .div_links, .companies-header-container .div_links {
  margin: 0;
}
.home-header-container .div_links #logo, .articles-header-container .div_links #logo, .author-header-container .div_links #logo, .companies-header-container .div_links #logo {
  margin: 15px 35px 19px 0px;
}
.home-header-container .div_links .link-headr, .articles-header-container .div_links .link-headr, .author-header-container .div_links .link-headr, .companies-header-container .div_links .link-headr {
  margin: 12px 10px 12px 0px;
}
.home-header-container .div_right, .articles-header-container .div_right, .author-header-container .div_right, .companies-header-container .div_right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 84px;
  text-align: center;
  margin: 0px;
}
.home-header-container ul, .articles-header-container ul, .author-header-container ul, .companies-header-container ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.home-header-container ul li, .articles-header-container ul li, .author-header-container ul li, .companies-header-container ul li {
  display: inline-block;
  margin-right: 30px;
}
.home-header-container ul li a, .articles-header-container ul li a, .author-header-container ul li a, .companies-header-container ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  font-family: Inter, sans-serif;
  line-height: 25.5px;
  font-weight: 200;
  letter-spacing: 0.17px;
}
.home-header-container ul li a:hover, .articles-header-container ul li a:hover, .author-header-container ul li a:hover, .companies-header-container ul li a:hover {
  color: #ffca42;
}
.home-header-container .btn-header, .articles-header-container .btn-header, .author-header-container .btn-header, .companies-header-container .btn-header {
  padding: 20px 52px 20px 52px;
  font-size: 19px;
  font-family: Cardo, serif;
  font-weight: 200;
  line-height: 28.5px;
  text-transform: capitalize;
  color: #1b3764;
  background: #ffca42;
  border: 2px solid #ffca42;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 222px;
  height: 65px;
}

.wrapper-header-companies {
  background: #1b3764;
}

.wrapper-header-author {
  background: #1b3764;
}

.wrapper-header-articles {
  background: #1b3764;
}

.footer-home {
  background: #1b3764;
  padding: 60px 70px 75px;
}

.wrapper-footer-home {
  max-width: 1300px;
}

.home-footer-container {
  margin: 30px 0px 60px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-messengers {
  display: flex;
  gap: 30px;
  margin: 0px;
  position: relative;
}
.footer-messengers #messengers-logo {
  position: absolute;
  left: 4px;
  margin-bottom: 20px;
}
.footer-messengers .ul-footer-messengers {
  width: 277.703px;
  margin: 0px 20px 124px 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-explore, .footer-utility-pages {
  margin: 0px 0px 0px 30px;
  width: 277.703px;
}
.footer-explore h2, .footer-utility-pages h2 {
  color: #fff;
  font-family: Cardo, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  margin-bottom: 15px;
}
.footer-explore ul, .footer-utility-pages ul {
  list-style: none;
}
.footer-explore ul li, .footer-utility-pages ul li {
  position: relative;
  color: #b4c7e7;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  height: 25px;
}
.footer-explore ul li img, .footer-utility-pages ul li img {
  position: absolute;
  top: -8px;
}
.footer-explore ul li p, .footer-utility-pages ul li p {
  margin-left: 40px;
}

.footer-utility-pages {
  margin: 0px 0px 0px 40px;
}

.footer-keep-in-Touch {
  margin: 0px 0px 30px 20px;
  width: 277.703px;
}
.footer-keep-in-Touch h2 {
  color: #fff;
  font-family: Cardo, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  margin-bottom: 30px;
}
.footer-keep-in-Touch label {
  display: flex;
}
.footer-keep-in-Touch label #one-p {
  margin-left: 28px;
}
.footer-keep-in-Touch label #two-p {
  margin-left: 51px;
}
.footer-keep-in-Touch label #three-p {
  margin-left: 41px;
}
.footer-keep-in-Touch #one {
  margin-bottom: 55px;
}
.footer-keep-in-Touch #two {
  margin-bottom: 18px;
}
.footer-companies {
  background: #1b3764;
  padding: 60px 70px 75px;
}

.wrapper-footer-companies {
  max-width: 1300px;
}

.companies-footer-container {
  margin: 30px 0px 60px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-author {
  background: #1b3764;
  padding: 60px 70px 75px;
}

.wrapper-footer-author {
  max-width: 1300px;
}

.author-footer-container {
  margin: 30px 0px 60px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-articles {
  background: #1b3764;
  padding: 60px 70px 75px;
}

.wrapper-footer-articles {
  max-width: 1300px;
}

.articles-footer-container {
  margin: 30px 0px 60px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.main-home {
  background: #1b3764;
  padding: 100px 0px 100px 0px;
}
.main-home .home-main-container {
  display: flex;
  max-width: 1300px;
  padding: 0px 21px 0px 23px;
  margin: 0px 70px 0px 70px;
  gap: 98px;
}
.main-home .home-main-container .info-container {
  margin: 0px;
  padding: 150px 0px 150px 0px;
  max-width: 590px;
}
.main-home .home-main-container .info-container #dash {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Cardo, serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  margin: 0px 0px 10px 50px;
  position: relative;
}
.main-home .home-main-container .info-container #dash img {
  position: absolute;
  top: 18px;
  left: -50px;
}
.main-home .home-main-container .info-container .main-title {
  margin-bottom: 42px;
}
.main-home .home-main-container .info-container .main-title h1 {
  color: #fff;
  font-family: Cardo, serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 78px;
  letter-spacing: 1.3px;
}
.main-home .home-main-container .info-container .main-title #best-hone {
  margin-bottom: 25px;
}
.main-home .home-main-container .info-container .main-title p {
  color: #b4c7e7;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.5px;
}
.main-home .home-main-container .info-container .main-button {
  padding: 10px 0px 10px 0px;
  display: flex;
}
.main-home .home-main-container .info-container .main-button button {
  margin: 0px;
  padding: 20px 52px 20px 52px;
  font-size: 19px;
  font-family: Cardo, serif;
  font-weight: 200;
  line-height: 28.5px;
  text-transform: capitalize;
  color: #1b3764;
  background: #ffca42;
  border: 2px solid #ffca42;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 222px;
  height: 65px;
}
.main-home .home-main-container .info-container .main-button p {
  margin-left: 50px;
  color: #fff;
  font-family: Cardo, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.4px;
  letter-spacing: 0.38px;
  text-transform: capitalize;
}
.main-home .home-main-container .info-container .main-info {
  display: flex;
  gap: 60px;
  padding-top: 40px;
}
.main-home .home-main-container .info-container .main-info span {
  margin: 0px;
}
.main-home .home-main-container .info-container .main-info span img {
  margin-right: 10px;
}
.main-home .home-main-container .info-container .main-info span h3 {
  margin-left: -10px;
  padding: 0px 0px 10px 10px;
  color: #fff;
  font-family: Cardo, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.48px;
}
.main-home .home-main-container .info-container .main-info span p {
  padding-left: 25px;
  color: #b4c7e7;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.author-book-main .author-main-container {
  padding-top: 20px;
  margin: 50px 70px 90px 70px;
}
.author-book-main .author-main-container h1 {
  color: #1b3764;
  text-align: center;
  margin-bottom: 20px;
  font-family: Cardo, serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 50.4px;
  text-transform: capitalize;
}
.author-book-main .author-main-container .line {
  margin-bottom: 15px;
  background-color: #ffca42;
  width: 50px;
  height: 3px;
  border: none;
}
.author-book-main .author-main-container .card-items {
  padding: 60px 10px 60px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.author-book-main .author-main-container .card-items .card {
  margin: 0px;
  display: flex;
  width: 630px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
}
.author-book-main .author-main-container .card-items .card .cards-info h3 {
  margin: 17px 0px 7px 0px;
  color: #1b3764;
  font-family: Cardo, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.4px;
  letter-spacing: 0.32px;
}
.author-book-main .author-main-container .card-items .card .cards-info #price {
  color: #ffca42;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 17px;
}
.author-book-main .author-main-container .card-items .card .cards-info #text {
  color: #969aa0;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.5px;
  margin-bottom: 13px;
}
.author-book-main .author-main-container .card-items .card .cards-info #link {
  display: flex;
  margin-bottom: 86px;
}
.author-book-main .author-main-container .card-items .card .cards-info #link div {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background: #ffca42;
  margin: 5px 0px 0px 0px;
}
.author-book-main .author-main-container .card-items .card .cards-info #link p {
  color: #1b3764;
  font-family: Cardo, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  margin: 0px 0px 18px 10px;
}

.author-about-main {
  background: #f5f8fc;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto auto;
}

/*# sourceMappingURL=final.css.map */
