.main-home {
  background: $backgroundColor;
  padding: 100px 0px 100px 0px;

  .home-main-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    padding: 0px 21px 0px 23px;
    margin: 0px 70px 0px 70px;
    gap: 98px;

    .info-container {
      margin: 0px;
      padding: 150px 0px 150px 0px;
      max-width: 590px;

      #dash {
        color: $colorWhite;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: $fontFamilyCardo;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 1.2px;
        text-transform: capitalize;
        margin: 0px 0px 10px 50px;

        position: relative;
        img {
          position: absolute;
          top: 18px;
          left: -50px;
        }
      }
      .main-title {
        margin-bottom: 42px;

        h1 {
          color: $colorWhite;
          font-family: $fontFamilyCardo;
          font-size: 64px;
          font-style: normal;
          font-weight: 400;
          line-height: 78px;
          letter-spacing: 1.3px;
        }
        #best-hone {
          margin-bottom: 25px;
        }
        p {
          color: #b4c7e7;
          font-family: $fontFamilyInter;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28.5px;
        }
      }
      .main-button {
        padding: 10px 0px 10px 0px;
        display: flex;

        button {
          margin: 0px;
          padding: 20px 52px 20px 52px;
          font-size: $fontSize;
          font-family: $fontFamilyCardo;
          font-weight: $fontWeight;
          line-height: 28.5px;
          text-transform: capitalize;
          color: $color;
          background: $backgroundBtn;
          border: 2px solid #ffca42;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          width: 222px;
          height: 65px;
        }
        p {
          margin-left: 50px;
          color: $colorWhite;
          font-family: $fontFamilyCardo;
          font-size: 19px;
          font-style: normal;
          font-weight: 400;
          line-height: 30.4px;
          letter-spacing: 0.38px;
          text-transform: capitalize;
        }
      }
      .main-info {
        display: flex;
        gap: 60px;
        padding-top: 40px;
        span {
          margin: 0px;
          img {
            margin-right: 10px;
          }
          h3 {
            margin-left: -10px;
            padding: 0px 0px 10px 10px;
            color: $colorWhite;
            font-family: $fontFamilyCardo;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 28.8px;
            letter-spacing: 0.48px;
          }
          p {
            padding-left: 25px;
            color: #b4c7e7;
            font-family: $fontFamilyInter;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
          }
        }
      }
    }
  }
}
.author-book-main {
  .author-main-container {
    padding-top: 20px;
    margin: 50px 70px 90px 70px;

    h1 {
      color: $backgroundColor;
      text-align: center;
      font-family: $fontFamilyCardo;
      font-size: 42px;
      font-style: normal;
      font-weight: 400;
      line-height: 50.4px;
      text-transform: capitalize;
      margin-bottom: 25px;
    }
    .line {
      margin-bottom: 15px;
      background-color: #ffca42;
      width: 50px;
      height: 3px;
      border: none;
    }
    #card-items {
      padding: 60px 10px 60px 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      .card {
        margin: 0px;
        display: flex;
        width: 630px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        flex-shrink: 0;
        .cards-info {
          h3 {
            margin: 17px 0px 7px 0px;
            color: $backgroundColor;
            font-family: $fontFamilyCardo;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 38.4px;
            letter-spacing: 0.32px;
          }
          #price {
            color: #ffca42;
            font-family: Inter;
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 33px;
            margin-bottom: 17px;
          }
          #text {
            width: 287px;
            color: #969aa0;
            font-family: Inter;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: 28.5px;
            margin-bottom: 13px;
          }
          #link {
            display: flex;
            margin-bottom: 86px;
            div {
              width: 16px;
              height: 16px;
              border-radius: 100px;
              background: #ffca42;
              margin: 5px 0px 0px 0px;
            }
            p {
              color: $backgroundColor;
              font-family: $fontFamilyCardo;
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: 28.8px;
              margin: 0px 0px 18px 10px;
            }
          }
        }
      }
    }
  }
}
.author-about-main {
  background: #f5f8fc;
  .content-main {
    margin: 140px 70px;
    display: flex;
    gap: 150px;

    img {
      flex-shrink: 0;
    }
    .about-author {
      max-width: 605px;
      margin: 40px 0px 0px;
      h2 {
        margin: 15px 220px 20px 0px;
        color: $backgroundColor;
        text-align: center;
        font-family: $fontFamilyCardo;
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: 50.4px;
        text-transform: capitalize;
      }
      .line {
        margin-bottom: 30px;
        background-color: #ffca42;
        width: 50px;
        height: 3px;
        border: none;
        margin-left: 0px;
      }
      .author {
        color: #969aa0;
        font-family: Inter;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 34.2px;
        margin-bottom: 35px;
      }
      .content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 55px;

        #border_content {
          border: none;
          padding: 0px;
        }

        .content-info {
          margin: 0px 0px 55px 0px;
          padding: 0px 48px 0px 12px;
          color: #1b3764;
          font-family: Cardo;
          font-size: 54px;
          font-style: normal;
          font-weight: 400;
          line-height: 77px;
          border-right: 1px solid #ffca42;

          #content {
            color: #969aa0;
            font-family: Inter;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 21.6px;
          }
        }
      }
      .qr-code {
        background: #1b3764;
        display: flex;
        flex-wrap: wrap;
        img {
          margin: 15px 40px 15px 20px;
        }
        div {
          margin: 20px 20px 20px 0px;
          h3 {
            color: #ffca42;
            font-family: Cardo;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 26.4px;
            margin: 18px 0px 10px 0px;
          }
          .qr-info {
            color: #b4c7e7;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28.5px;
            letter-spacing: 0.19px;
            display: flex;
            gap: 10px;
          }
        }
      }
    }
  }
}
.main_first_section {
  h1 {
    color: $backgroundColor;
    text-align: center;
    font-family: $fontFamilyCardo;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 50.4px;
    text-transform: capitalize;
    margin: 180px 0px 23px 0px;
  }
  .line {
    margin-bottom: 40px;
    background-color: #ffca42;
    width: 50px;
    height: 3px;
    border: none;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0px 70px 125px;
    li {
      text-align: center;
      img {
        margin-bottom: 20px;
      }
      h2 {
        margin-bottom: 15px;
      }
      p {
        width: 200px;
      }
    }
  }
}
.main_second_section {
  background-color: $backgroundColor;
  display: flex;
  flex-wrap: wrap;
  gap: 130px;
  div {
    margin: 0px 0px 0px 70px;
    h2 {
      color: #fff;
      font-family: $fontFamilyCardo;
      font-size: 45px;
      font-style: normal;
      font-weight: 400;
      line-height: 54px;
      text-transform: capitalize;
      margin: 140px 0px 25px 0px;
    }
    .line {
      background-color: #ffca42;
      width: 50px;
      height: 3px;
      border: none;
      margin: 0px 0px 27px 0px;
    }
    p {
      color: #b4c7e7;
      font-family: Inter;
      font-size: 19px;
      font-style: normal;
      font-weight: 400;
      line-height: 28.5px;
      width: 539px;
    }
  }
  img {
    margin: 70px 70px 70px 0px;
  }
}
.articles_first_section {
  .title {
    h1 {
      color: #1b3764;
      text-align: center;
      font-family: $fontFamilyCardo;
      font-size: 42px;
      font-style: normal;
      font-weight: 400;
      line-height: 50.4px;
      text-transform: capitalize;
      margin: 215px 0px 23px;
    }
    .line {
      background-color: #ffca42;
      width: 50px;
      height: 3px;
      border: none;
      margin: 0px auto 80px;
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    margin: 80px 70px 120px;
  }
  .cards_container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;
    margin: 30px;

    .cards_articles {
      width: 303px;
      height: 272px;
      flex-shrink: 0;
      background: #f4f8ff;
      .p_number {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: #ffca42;
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        margin: 30px 223px 30px 30px;
      }
      .p_text {
        color: #1b3764;
        font-family: Cardo;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 33.6px;
        width: 229px;
        flex-shrink: 0;
        margin: 0px 50px 30px 30px;
      }
    }
  }
}
.articles_second_section {
  background: #f4f8ff;
  h2 {
    color: #1b3764;
    text-align: center;
    font-family: $fontFamilyCardo;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 50.4px;
    text-transform: capitalize;
    margin: 125px 0px 23px;
  }
  .line {
    background-color: #ffca42;
    width: 50px;
    height: 3px;
    border: none;
    margin: 0px auto 60px;
  }
  .container_two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 70px 110px;
    .cards_articles_two {
      width: 420px;
      flex-shrink: 0;
      h3 {
        margin: 25px 70px 20px 30px;
        color: #1b3764;
        font-family: Cardo;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 33.6px;
        letter-spacing: 0.24px;
        width: 260px;
        flex-shrink: 0;
      }
      .p_text {
        color: #969aa0;
        font-family: Inter;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 30.4px;
        width: 359px;
        flex-shrink: 0;
        margin-bottom: 15px;
      }
      .p_date {
        color: #1b3764;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.5px;
        width: 128px;
        margin-right: 0px;
      }
    }
  }
}
