.main-home {
  background: $backgroundColor;
  padding: 100px 0px 100px 0px;

  .home-main-container {
    display: flex;
    max-width: 1300px;
    padding: 0px 21px 0px 23px;
    margin: 0px 70px 0px 70px;
    gap: 98px;

    .info-container {
      margin: 0px;
      padding: 150px 0px 150px 0px;
      max-width: 590px;

      #dash {
        color: $colorWhite;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: $fontFamilyCardo;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 1.2px;
        text-transform: capitalize;
        margin: 0px 0px 10px 50px;

        position: relative;
        img {
          position: absolute;
          top: 18px;
          left: -50px;
        }
      }
      .main-title {
        margin-bottom: 42px;

        h1 {
          color: $colorWhite;
          font-family: $fontFamilyCardo;
          font-size: 64px;
          font-style: normal;
          font-weight: 400;
          line-height: 78px;
          letter-spacing: 1.3px;
        }
        #best-hone {
          margin-bottom: 25px;
        }
        p {
          color: #b4c7e7;
          font-family: $fontFamilyInter;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28.5px;
        }
      }
      .main-button {
        padding: 10px 0px 10px 0px;
        display: flex;

        button {
          margin: 0px;
          padding: 20px 52px 20px 52px;
          font-size: $fontSize;
          font-family: $fontFamilyCardo;
          font-weight: $fontWeight;
          line-height: 28.5px;
          text-transform: capitalize;
          color: $color;
          background: $backgroundBtn;
          border: 2px solid #ffca42;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          width: 222px;
          height: 65px;
        }
        p {
          margin-left: 50px;
          color: $colorWhite;
          font-family: $fontFamilyCardo;
          font-size: 19px;
          font-style: normal;
          font-weight: 400;
          line-height: 30.4px;
          letter-spacing: 0.38px;
          text-transform: capitalize;
        }
      }
      .main-info {
        display: flex;
        gap: 60px;
        padding-top: 40px;
        span {
          margin: 0px;
          img {
            margin-right: 10px;
          }
          h3 {
            margin-left: -10px;
            padding: 0px 0px 10px 10px;
            color: $colorWhite;
            font-family: $fontFamilyCardo;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 28.8px;
            letter-spacing: 0.48px;
          }
          p {
            padding-left: 25px;
            color: #b4c7e7;
            font-family: $fontFamilyInter;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
          }
        }
      }
    }
  }
}
.author-book-main {
  .author-main-container {
    padding-top: 20px;
    margin: 50px 70px 90px 70px;

    h1 {
      color: $backgroundColor;
      text-align: center;
      margin-bottom: 20px;
      font-family: $fontFamilyCardo;
      font-size: 42px;
      font-style: normal;
      font-weight: 400;
      line-height: 50.4px;
      text-transform: capitalize;
    }
    .line {
      margin-bottom: 15px;
      background-color: #ffca42;
      width: 50px;
      height: 3px;
      border: none;
    }
    .card-items {
      padding: 60px 10px 60px 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      .card {
        margin: 0px;
        display: flex;
        width: 630px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-shrink: 0;
        .cards-info {
          h3 {
            margin: 17px 0px 7px 0px;
            color: $backgroundColor;
            font-family: $fontFamilyCardo;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 38.4px;
            letter-spacing: 0.32px;
          }
          #price {
            color: #ffca42;
            font-family: Inter;
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 33px;
            margin-bottom: 17px;
          }
          #text {
            color: #969aa0;
            font-family: Inter;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: 28.5px;
            margin-bottom: 13px;
          }
          #link {
            display: flex;
            margin-bottom: 86px;
            div {
              width: 16px;
              height: 16px;
              border-radius: 100px;
              background: #ffca42;
              margin: 5px 0px 0px 0px;
            }
            p {
              color: $backgroundColor;
              font-family: $fontFamilyCardo;
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: 28.8px;
              margin: 0px 0px 18px 10px;
            }
          }
        }
      }
    }
  }
}
.author-about-main {
  background: #f5f8fc;
}
