@import "variables";
@import "header";
@import "footer";
@import "main";

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto auto;
  // overflow: hidden;
}
