$listStyleType: none;
$backgroundColor: #1b3764;
$fontFamilyCardo: Cardo, serif;
$fontFamilyInter: Inter, sans-serif;
$fontSize: 19px;
$fontWeight: 200;
$color: #1b3764;
$backgroundBtn: #ffca42;
$colorWhite: #fff;
$colorGray: #969aa0;
$text–íecoration: none;
